<form>
  <p>Enter Your Name:</p>
  <input type="text" [(ngModel)]="userModel.name" name ="name" />
  <p>{{ userModel.name }}</p>
  <p>Enter Your LastName:</p>
  <input type="text" [(ngModel)]="userModel.lastName" name ="lastName"/>
  <p>{{ userModel.lastName }}</p>
  <p>Enter Your Email:</p>
  <input type="email" required [(ngModel)]="userModel.email" name ="email"/>
  <p>{{ userModel.email }}</p>
  <p>Enter Your Adress:</p>
  <input type="text" [(ngModel)]="userModel.adress" name ="adress"/>
  <p>{{ userModel.adress }}</p>

  <p>Please select your Gender:</p>
    <input type="radio" name="gender" />   <label for="male">Male</label><br />
    <input type="radio" name="gender" />   <label for="female">Female</label
  ><br />

  <br />

  <label for="job">Choose your profession:</label>
  <select name="job" id="job">
    <option value="student">Student</option>
    <option value="engineer">Engineer</option>
    <option value="programmer">Programmer</option>
  </select>
  <br /><br />
  <button (click)="saveData()">Save</button>
</form>
